<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course Query</title>
</head>

<br>

<h1><center>Course Query</center></h1>

<br>
<body><center>
<form method="post">
    <p>Keyword   <input type="text" name="word"></p>
    <p><input type="submit" value="Search"></p>
</form></center>
<br>
<br>
{#判断列表有数据的情况下#}


<hr/>
<h2><center>Query Result</center></h2>
 <table border="1" cellspacing="0" bordercolor="#000000" width=70% height=30% align=center style="border-collapse:collapse;">
        <tr>
            <td><b>Course_id</td>
            <td><b>Title</td>
            <td><b>Department</td>
            <td><b>Credits</td>
        </tr>
        {% for t in i %}
            <tr>
                {#展示数据#}
                <td>{{t.id}}</td>
                <td>{{t.title}}</td>
                <td>{{t.dept_name}}</td>
                <td>{{t.credits}}</td>
            </tr>
        {% endfor %}
    </table>
{% if msg %}
<h3><center>{{msg}}</center></h3>
{% endif %}
<br>
<br>
<center><a href="http://127.0.0.1:8000">Return Home Page</a></center>


</body>
</html>
